<h1>Editing plant category</h1>

<%= render "form", plant_category: @plant_category %>

<br>

<div>
  <%= link_to "Show this plant category", @plant_category %> |
  <%= link_to "Back to plant categories", plant_categories_path %>
</div>
