<div class="d-flex justify-content-between align-items-center">
  <h1>Complaints</h1>
  <%= link_to new_complaint_path, class: 'btn btn-primary' do %>
    <%= fa_icon 'plus-circle', text: "File Complaint" %>
  <% end %>
</div>


<div id="complaints">
  <% @complaints.each do |complaint| %>
    <%= render complaint %>
  <% end %>
</div>
