<h1>Editing irrigation system</h1>

<%= render "form", irrigation_system: @irrigation_system %>

<br>

<div>
  <%= link_to "Show this irrigation system", @irrigation_system %> |
  <%= link_to "Back to irrigation systems", irrigation_systems_path %>
</div>
