<div class="d-flex justify-content-between align-items-center">
  <h1>Irrigation systems</h1>
  <%= link_to new_irrigation_system_path, class: 'btn btn-primary' do %>
    <%= fa_icon 'plus-circle', text: "Add Irrigation System" %>
  <% end %>
</div>

<div id="irrigation_systems">
  <% @irrigation_systems.each do |irrigation_system| %>
    <%= render irrigation_system %>
  <% end %>
</div>
