<div id="<%= dom_id plant %>">
  <p>
    <strong>Name:</strong>
    <%= plant.name %>
  </p>

  <p>
    <strong>Required soil moisture:</strong>
    <%= plant.required_soil_moisture %>
  </p>

</div>
