<div class='d-flex justify-content-between align-items-center'>
  <h1><%= @plant.name %></h1>
  <%= image_tag(@plant.image_name, size: "220x150", alt: "Edit Entry") %>
</div>
<div class="mt-5">
  <%= raw @plant.description %>
</div>
