<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @user.full_name %></p>
    <p>You need to refil your water storage for Irrigation System # <%= @plant_data.irrigation_system.uuid %>!</p>


    <p>If you have any queries you can reply to this email or Contact us at fyp34b@gmail.com</p>
  </body>
</html>
